.baharvala{
  width: 100%;
  background-color: #383E48;
}
.contact-container {
  display: flex;
  /* Ensures both sections are side by side */
  align-items: flex-start; /* Aligns items at the top */
  flex-wrap: nowrap; /* Prevents wrapping */
  background-color: #383E48;
  padding: 50px 10%;
  font-family: Metropolis;
  color: #FFFFFF;
  
}
 
.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  align-items: flex-start;

}
  
.formkesidevaladiv {
  width: 50%;
  flex-direction: column;
  
  /* display: flex; */
}
 
.forlink {
  display:flex;
  
  width: 100%;
  
}
.link-heading {
  width: 50%;
  font-family: Metropolis;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  padding-right: 0px;

}
.link-heading2 {
  width: 50%;
  color: #FFFFFF;
  font-family: Metropolis;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-top:50px;
   text-align: right;
}
.linksectionpart{
  display: flex;
gap: 0rem;
width: 100%;
  
}
  
  .contact-heading6 {
  font-family: Metropolis;
  font-weight: 700;
  font-size: 36px;
  line-height: 86px;
  letter-spacing: 0.6px;
  margin-top: 20px;
    color: #FF7018;
  
  }
  .formvalainput{
    width:400px;
  }
  .contact-input {
    width: 100%;
    color:white;
  height: Fixed(50px);
  display: flex;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
  border: 1px solid #9CA3AF;
  background-color: #383E48;
    margin-bottom: 23px;
  }
  .contact-input::placeholder {
    color: #9CA3AF;
    font-family: Metropolis;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.7px;

  }
  .contact-textarea {
    width: 100%;
    height: 138px;
    padding-top: 15px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
    border-radius: 10px;
    background-color: #383E48;
    color: white;
    gap: 10px;
  }
  .contact-textarea::placeholder {
    font-family: Metropolis;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color:#9CA3AF;
  
  
  }
  .submit-btn {
    width: Hug(102px);
  height: Fixed(40px);
  gap: 15px;
  border-radius: 10px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
    background-color: #FF7018;
    cursor: pointer;
    display: flex;
    font-family: Metropolis;
    letter-spacing: .8px;
    font-weight: 400;
    margin-top: 20px;
  }
  .submittext1{
    width: 62;
  height: 18;
  font-family: Metropolis;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  }
  .submit-btn:hover {
    background-color: #e65c00;
  }
   
  .link-section {
  width: 50%;
  gap: 38px;
  
  flex-direction: column;
  align-items: flex-end;
  color: #FFFFFF;
  }
  .link-list {
    
  align-self: stretch;
  color: #FFFFFF;
    list-style: none;
    text-align: center;
    font-family: Metropolis;
  font-weight: 300;
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0.7px;
  
  
  
  }
  .link-list a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .link-list a:hover {
    color: #FF7018;
  }
  
  .link-section2 {
    width: 50%;
    
  gap: 38px;
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  color: #FFFFFF;
  }
  .link-list2 {
    list-style: none;
    
     text-align: right;
     font-family: Metropolis;
     font-weight: 300;
     font-size: 18px;
     line-height: 56px;
     letter-spacing: 0.7px;
     
  
  }
  .link-list2 a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .link-list2 a:hover {
    color: #FF7018;
  }
  
  .footerpart{
    display: flex;
    justify-content: end;
    
  }
  .logofooter{
    margin-left:0px;
     
  }
  .nichekapart{
    margin-top: 0px;
  }
  .follow-text {
  padding-left: 20px;
  font-family: Metropolis;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.7px;  
    color: #FFFFFF;
  }
   .sociallogo{
  margin-top: 40px;
    display: flex;
   }
  .social-box i {
    font-size: 18px; /* Adjust icon size */
    padding-left: 10px;/* Space between icons */
    color: white; /* Adjust icon color if needed */
    cursor: pointer;
  }
  .social-box i:hover {
    color: #ffa500; /* Change color on hover */
  }
  .contact-details {
  font-family: Metropolis;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
   color: #FFFFFF;
  display: flex;
  gap: 25px;
  justify-content: end;
  margin-top: 20px;
  }
  .phoneimg{
  margin-top: 0px;
  }
  .parag{
    gap:25px;
  font-family: Metropolis;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  margin-top: 30px;
  display: flex;
  justify-content: end;
  }
  .phoneimg2{
    width: 23;
  height: 16;
  margin-top: 0px;
  flex-shrink: 0;
  }
  .footer-line{
    width: 100%;
    align-items: center;
    justify-content: center;
  color: #FFFFFF;
    text-align: center;
  padding-bottom: 10px;
  font-family: Metropolis;
  }

  /* @media (min-width: 768px) {
    .forlink {
      flex-direction: row;
      justify-content: space-around;
    }
  } */
  @media (max-width:768px) {
  
    .baharvala{
      width: 100%;
      background-color: #383E48;
    }
    .contact-container {
      display: flex;
      /* Ensures both sections are side by side */
      align-items: flex-start; /* Aligns items at the top */
      flex-wrap: nowrap; /* Prevents wrapping */
      background-color: #383E48;
      padding: 50px 10%;
      font-family: Metropolis;
      color: #FFFFFF;
      width: 100%;
      
    }
     
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 15px;
      
      align-items: flex-start;
    
    }
      
    .formkesidevaladiv {
      width: 50%;
      flex-direction: column;
      padding-right: 120px;
      /* display: flex; */
    }
     
    .forlink {
      display:flex;
      
      width: 100%;
      
    }
    .link-heading {
      width: 50%;
      font-family: Metropolis;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-top: 50px;
      text-align: center;
      padding-right: 0px;
    
    }
    .link-heading2 {
      width: 50%;
      color: #FFFFFF;
      font-family: Metropolis;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-top:50px;
       text-align: right;
    }
    .linksectionpart{
      display: flex;
    gap: 0rem;
    width: 100%;
      
    }
      
      .contact-heading6 {
      font-family: Metropolis;
      font-weight: 700;
      font-size: 36px;
      line-height: 86px;
      letter-spacing: 0.6px;
      margin-top: 20px;
        color: #FF7018;
      
      }
      .formvalainput{
        width:230px;
      }
      .contact-input {
        width: 100%;
        color: white;
      height: Fixed(50px);
      display: flex;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
      border: 1px solid #9CA3AF;
      background-color: #383E48;
        margin-bottom: 23px;
      }
      .contact-input::placeholder {
        color: #9CA3AF;
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
    
      }
      .contact-textarea {
        width: 100%;
        height: 138px;
        padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
        border-radius: 10px;
        background-color: #383E48;
        color: white;
        gap: 10px;
      }
      .contact-textarea::placeholder {
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color:#9CA3AF;
      
      
      }
      .submit-btn {
        width: Hug(102px);
      height: Fixed(40px);
      gap: 15px;
      border-radius: 10px;
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
        background-color: #FF7018;
        cursor: pointer;
        display: flex;
        font-family: Metropolis;
        letter-spacing: .8px;
        font-weight: 400;
        margin-top: 20px;
      }
      .submittext1{
        width: 62;
      height: 18;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;
      color: #FFFFFF;
      }
      .submit-btn:hover {
        background-color: #e65c00;
      }
       
      .link-section {
      width: 50%;
      gap: 38px;
      
      flex-direction: column;
      align-items: flex-end;
      color: #FFFFFF;
      }
      .link-list {
        
      align-self: stretch;
      color: #FFFFFF;
        list-style: none;
        text-align: center;
        font-family: Metropolis;
      font-weight: 300;
      font-size: 16px;
      line-height: 56px;
      letter-spacing: 0.4px;
      
      
      
      }
      .link-list a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list a:hover {
        color: #FF7018;
      }
      
      .link-section2 {
        width: 50%;
        
      gap: 38px;
      display: flex;
    
      flex-direction: column;
      align-items: flex-end;
      color: #FFFFFF;
      }
      .link-list2 {
        list-style: none;
        
         text-align: right;
         font-family: Metropolis;
         font-weight: 300;
         font-size: 16px;
         line-height: 56px;
         letter-spacing: 0.4px;
         
      
      }
      .link-list2 a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list2 a:hover {
        color: #FF7018;
      }
      
      .footerpart{
        display: flex;
        justify-content: end;
        
      }
      .logofooter{
        margin-left:0px;
         
      }
      .nichekapart{
        margin-top: 0px;
      }
      .follow-text {
      padding-left: 20px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.7px;  
        color: #FFFFFF;
      }
       .sociallogo{
      margin-top: 40px;
        display: flex;
       }
      .social-box i {
        font-size: 18px; /* Adjust icon size */
        padding-left: 10px;/* Space between icons */
        color: white; /* Adjust icon color if needed */
        cursor: pointer;
      }
      .social-box i:hover {
        color: #ffa500; /* Change color on hover */
      }
      .contact-details {
      font-family: Metropolis;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.6px;
       color: #FFFFFF;
      display: flex;
      gap: 25px;
      justify-content: end;
      margin-top: 20px;
      }
      .phoneimg{
      margin-top: 0px;
      }
      .parag{
        gap:25px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color: #FFFFFF;
      margin-top: 30px;
      display: flex;
      justify-content: end;
      }
      .phoneimg2{
        width: 23;
      height: 16;
      margin-top: 0px;
      flex-shrink: 0;
      }
      .footer-line{
        width: 100%;
        align-items: center;
        justify-content: center;
      color: #FFFFFF;
        text-align: center;
      padding-bottom: 10px;
      font-family: Metropolis;
      }
    
     
     
  }
  /* @media (min-width: 1024px) {
    .contact-container {
      justify-content: space-between;
    }
  } */
  @media (max-width:425px) {
    .baharvala{
      width: 100%;
      background-color: #383E48;
    }
    .contact-container {
  

      /* Ensures both sections are side by side */
      align-items: flex-start; /* Aligns items at the top */
      flex-wrap: wrap; /* Prevents wrapping */
      background-color: #383E48;
      
      font-family: Metropolis;
      color: #FFFFFF;
      width: 100%;
      
    }
     
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      
      align-items: flex-start;
    
    }
      
    .formkesidevaladiv {
      width: 100%;
      flex-direction: column;
  
  
      /* display: flex; */
    }
     
    .forlink {
      display:flex;
  
    justify-content: space-between;
      width: 100%;
      
      
    }
    .link-heading {
      width: 50%;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-top: 50px;
      
      
    
    }
    .link-heading2 {
      width: 50%;
      color: #FFFFFF;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-top:50px;
      
    }
    .linksectionpart{
      display: flex;
    width: 100%;
  

    }
      
      .contact-heading6 {
      font-family: Metropolis;
      font-weight: 700;
      font-size: 36px;
      line-height: 86px;
      letter-spacing: 0.6px;
      margin-top: 20px;
        color: #FF7018;
      
      }
      .formvalainput{
        width:250px;
      }
      .contact-input {
        width: 100%;
        color: white;
      height: Fixed(50px);
      display: flex;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
      border: 1px solid #9CA3AF;
      background-color: #383E48;
        margin-bottom: 23px;
      }
      .contact-input::placeholder {
        color: #9CA3AF;
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
    
      }
      .contact-textarea {
        width: 100%;
        height: 138px;
        padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
        border-radius: 10px;
        background-color: #383E48;
        color: white;
        gap: 10px;
      }
      .contact-textarea::placeholder {
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color:#9CA3AF;
      
      
      }
      .submit-btn {
        width: Hug(102px);
      height: Fixed(40px);
      gap: 15px;
      border-radius: 10px;
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
        background-color: #FF7018;
        cursor: pointer;
        display: flex;
        font-family: Metropolis;
        letter-spacing: .8px;
        font-weight: 400;
        margin-top: 20px;
      }
      .submittext1{
        width: 62;
      height: 18;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;
      color: #FFFFFF;
      }
      .submit-btn:hover {
        background-color: #e65c00;
      }
       
      .link-section {
      width: 40%;
      
      color: #FFFFFF;
      }
      .link-list {
      align-self: stretch;
      color: #FFFFFF;
        list-style: none;
        font-family: Metropolis;
      font-weight: 300;
      font-size: 13px;
      line-height: 40px;
      letter-spacing: 0.4px;
    text-align: left; 
      }
      .link-list a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list a:hover {
        color: #FF7018;
      }
      
      .link-section2 {
        width: 60%;
      flex-direction: column;
      
      color: #FFFFFF;
      }
      .link-list2 {
        list-style: none;
         font-family: Metropolis;
         font-weight: 300;
         font-size: 13px;
        line-height: 40px;
         letter-spacing: 0.4px;
         text-align: right;
      
      }
      .link-list2 a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list2 a:hover {
        color: #FF7018;
      }
      
      .footerpart{
        display: flex;

      }
      .logofooter{
        margin-left:0px;
         padding-right: 0px;
      }
      .imglogo1{
        padding-right:0px;
        width: 100px;
      }
      .nichekapart{
        margin-top: 0px;
      }
      .follow-text {
      padding-left: 0px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 14px;
      
      letter-spacing: 0.4px;  
        color: #FFFFFF;
      }
       .sociallogo{
      margin-top: 10px;
      padding-left: 15px;
        display: inline;
       }
      .social-box i {
        font-size: 14px; /* Adjust icon size */
        padding-left: 10px;/* Space between icons */
        color: white; /* Adjust icon color if needed */
        cursor: pointer;
      }
      .social-box i:hover {
        color: #ffa500; /* Change color on hover */
      }
      .contact-details {
      font-family: Metropolis;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.6px;
       color: #FFFFFF;
      display: flex;
      gap: 25px;
      justify-content: end;
      margin-top: 20px;
      }
      .phoneimg{
      margin-top: 0px;
      }
      .parag{
        gap:25px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color: #FFFFFF;
      margin-top: 20px;
      display: flex;
      text-align: right;
      justify-content: end;
      }
      .phoneimg2{
        width: 23;
      height: 16;
      margin-top: 0px;
      flex-shrink: 0;
      }
      .footer-line{
        width: 100%;
        align-items: center;
        justify-content: center;
      color: #FFFFFF;
        text-align: center;
      padding-bottom: 10px;
      font-family: Metropolis;
      }
    
  }
  @media (max-width:375px) {
    .baharvala{
      width: 100%;
      background-color: #383E48;
    }
    .contact-container {
  

      /* Ensures both sections are side by side */
      align-items: flex-start; /* Aligns items at the top */
      flex-wrap: wrap; /* Prevents wrapping */
      background-color: #383E48;
      
      font-family: Metropolis;
      color: #FFFFFF;
      width: 100%;
      
    }
     
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      
      align-items: flex-start;
    
    }
      
    .formkesidevaladiv {
      width: 100%;
      flex-direction: column;
  
  
      /* display: flex; */
    }
     
    .forlink {
      display:flex;
    justify-content: space-between;
      width: 100%;
      
      
    }
    .link-heading {
      width: 50%;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-top: 50px;
      
      
    
    }
    .link-heading2 {
      width: 50%;
      color: #FFFFFF;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-top:50px;
      
    }
    .linksectionpart{
      display: flex;
    width: 100%;
  
    }
      
      .contact-heading6 {
      font-family: Metropolis;
      font-weight: 700;
      font-size: 36px;
      line-height: 86px;
      letter-spacing: 0.6px;
      margin-top: 20px;
        color: #FF7018;
      
      }
      .formvalainput{
        width:230px;
      }
      .contact-input {
        color: white;
        width: 100%;
      height: Fixed(50px);
      display: flex;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
      border: 1px solid #9CA3AF;
      background-color: #383E48;
        margin-bottom: 23px;
      }
      .contact-input::placeholder {
        color: #9CA3AF;
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
    
      }
      .contact-textarea {
        width: 100%;
        height: 138px;
        padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
        border-radius: 10px;
        background-color: #383E48;
        color: white;
        gap: 10px;
      }
      .contact-textarea::placeholder {
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color:#9CA3AF;
      
      
      }
      .submit-btn {
        width: Hug(102px);
      height: Fixed(40px);
      gap: 15px;
      border-radius: 10px;
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
        background-color: #FF7018;
        cursor: pointer;
        display: flex;
        font-family: Metropolis;
        letter-spacing: .8px;
        font-weight: 400;
        margin-top: 20px;
      }
      .submittext1{
        width: 62;
      height: 18;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;
      color: #FFFFFF;
      }
      .submit-btn:hover {
        background-color: #e65c00;
      }
       
      .link-section {
      
      width: 40%;
      color: #FFFFFF;
      }
      .link-list {
      align-self: stretch;
      color: #FFFFFF;
        list-style: none;
        font-family: Metropolis;
      font-weight: 300;
      font-size: 11px;
      line-height: 40px;
      letter-spacing: 0.4px;
    text-align: left; 
      }
      .link-list a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list a:hover {
        color: #FF7018;
      }
      
      .link-section2 {
        width: 60%;
      flex-direction: column;
      
      color: #FFFFFF;
      }
      .link-list2 {
        list-style: none;
         font-family: Metropolis;
         font-weight: 300;
         font-size: 11px;
        line-height: 40px;
         letter-spacing: 0.4px;
         text-align: right;
      
      }
      .link-list2 a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list2 a:hover {
        color: #FF7018;
      }
      
      .footerpart{
        display: flex;
  
        
      }
      .logofooter{
        margin-left:0px;
         padding-right: 0px;
      }
      .imglogo1{
        padding-right:0px;
        width: 90px;
      }
      .nichekapart{
  
        margin-top: 0px;
      }
      .follow-text {
      padding-left: 0px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 13px;
      
      letter-spacing: 0.4px;  
        color: #FFFFFF;
      }
       .sociallogo{
      margin-top: 15px;
      padding-left: 10px;
        display: inline;
       }
      .social-box i {
        font-size: 13px; /* Adjust icon size */
        padding-left: 10px;/* Space between icons */
        color: white; /* Adjust icon color if needed */
        cursor: pointer;
      }
      .social-box i:hover {
        color: #ffa500; /* Change color on hover */
      }
      .contact-details {
      font-family: Metropolis;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.6px;
       color: #FFFFFF;
      display: flex;
      gap: 20px;
      justify-content: end;
      margin-top: 20px;
      }
      .phoneimg{
      margin-top: 0px;
      }
      .parag{
        gap:20px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color: #FFFFFF;
      margin-top: 20px;
      display: flex;
      text-align: right;
      justify-content: end;
      }
      .phoneimg2{
        width: 23;
      height: 16;
      margin-top: 0px;
      flex-shrink: 0;
      }
      .footer-line{
        width: 100%;
        align-items: center;
        justify-content: center;
      color: #FFFFFF;
        text-align: center;
      padding-bottom: 10px;
      font-family: Metropolis;
      }
    
  }
  @media (max-width:320px) {
    .baharvala{
      width: 100%;
      background-color: #383E48;
    }
    .contact-container {
  

      /* Ensures both sections are side by side */
      align-items: flex-start; /* Aligns items at the top */
      flex-wrap: wrap; /* Prevents wrapping */
      background-color: #383E48;
      
      font-family: Metropolis;
      color: #FFFFFF;
      width: 100%;
      
    }
     
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      
      align-items: flex-start;
    
    }
      
    .formkesidevaladiv {
      width: 100%;
      flex-direction: column;
      /* display: flex; */
      padding-right: 80px;
      margin-right: 0px;
      
    }
     
    .forlink {
      display:flex;

    justify-content: space-between;
      width: 100%;
      
      
    }
    .link-heading {
      width: 50%;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-top: 50px;
      
      
    
    }
    .link-heading2 {
      width: 50%;
      color: #FFFFFF;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.6px;
      margin-top:50px;
      
    }
    .linksectionpart{
      display: flex;
    width: 100%;
  
    }
      
      .contact-heading6 {
      font-family: Metropolis;
      font-weight: 700;
      font-size: 36px;
      line-height: 86px;
      letter-spacing: 0.6px;
      margin-top: 20px;
        color: #FF7018;
      
      }
      .formvalainput{
        width:200px;
      }
      .contact-input {
        width: 100%;
      height: Fixed(50px);
      display: flex;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
      padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
      border: 1px solid #9CA3AF;
      background-color: #383E48;
        margin-bottom: 23px;
        color: white;
      }
      .contact-input::placeholder {
        color: #9CA3AF;
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
    
      }
      .contact-textarea {
        width: 100%;
        height: 138px;
        padding-top: 15px;
      padding-right: 27px;
      padding-bottom: 15px;
      padding-left: 27px;
        border-radius: 10px;
        background-color: #383E48;
        color: white;
        gap: 10px;
      }
      .contact-textarea::placeholder {
        font-family: Metropolis;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.7px;
      color:#9CA3AF;
      
      
      }
      .submit-btn {
        width: Hug(102px);
      height: Fixed(40px);
      gap: 15px;
      border-radius: 10px;
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 14px;
      padding-left: 20px;
        background-color: #FF7018;
        cursor: pointer;
        display: flex;
        font-family: Metropolis;
        letter-spacing: .8px;
        font-weight: 400;
        margin-top: 20px;
      }
      .submittext1{
        width: 62;
      height: 18;
      font-family: Metropolis;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: center;
      color: #FFFFFF;
      }
      .submit-btn:hover {
        background-color: #e65c00;
      }
       
      .link-section {
      
      width: 40%;
      color: #FFFFFF;
      }
      .link-list {
      align-self: stretch;
      color: #FFFFFF;
        list-style: none;
        font-family: Metropolis;
      font-weight: 300;
      font-size: 10px;
      line-height: 40px;
      letter-spacing: 0.4px;
      text-align: left;
    
      }
      .link-list a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list a:hover {
        color: #FF7018;
      }
      
      .link-section2 {
        width: 60%;
      flex-direction: column;
      
      color: #FFFFFF;
      }
      .link-list2 {
        list-style: none;
         font-family: Metropolis;
         font-weight: 300;
         font-size: 10px;
        line-height: 40px;
         letter-spacing: 0.4px;
         text-align: right;
      
      }
      .link-list2 a {
        color: #FFFFFF;
        text-decoration: none;
      }
      
      .link-list2 a:hover {
        color: #FF7018;
      }
      
      .footerpart{
        display: flex;
      }
      .logofooter{
        margin-left:0px;
         padding-right: 0px;
      }
      .imglogo1{
        padding-right:0px;
        width: 80px;
      }
      .nichekapart{
        margin-top: 0px;
      }
      .follow-text {
      padding-left: 0px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 13px;
      
      letter-spacing: 0.4px;  
        color: #FFFFFF;
      }
       .sociallogo{
      margin-top: 10px;
      padding-left:10px;
        display: inline;
       }
      .social-box i {
        font-size: 13px; /* Adjust icon size */
        padding-left: 10px;/* Space between icons */
        color: white; /* Adjust icon color if needed */
        cursor: pointer;
      }
      .social-box i:hover {
        color: #ffa500; /* Change color on hover */
      }
      .contact-details {
      font-family: Metropolis;
      font-weight: 400;
      font-size: 9px;
      line-height: 18px;
      letter-spacing: 0.6px;
       color: #FFFFFF;
      display: flex;
      gap: 16px;
      justify-content: end;
      margin-top: 20px;
      }
      .phoneimg{
      margin-top: 0px;
      }
      .parag{
        gap:16px;
      font-family: Metropolis;
      font-weight: 400;
      font-size: 9px;
      line-height: 18px;
      letter-spacing: 0.6px;
      color: #FFFFFF;
      margin-top: 10px;
      display: flex;
      justify-content: end;
      }
      .phoneimg2{
        width: 23;
      height: 16;
      margin-top: 0px;
      flex-shrink: 0;
      }
      .footer-line{
        width: 100%;
        align-items: center;
        justify-content: center;
      color: #FFFFFF;
        text-align: center;
      padding-bottom: 10px;
      font-family: Metropolis;
      }
    
  }
  
  