.reviews-container {
  width: 100%;
  height: 720px;
  background-color: #383E48;
  position: relative; /* Ensure absolute elements stay inside */
  overflow: hidden; /* Prevent overflow */
}
 
.heading2 {
  font-family: Metropolis;
  font-weight: 700;
  font-size: 42px;
  padding-top: 60px;
  text-align: center;
  color: #FFFFFF;
}
 
.fadevalaimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0; /* Adjust if needed */
  left: 0;
}
 
.rectanglefade, .rectanglefade2 {
  max-width: 500px;
  z-index: 1;
}
 
.reviews-grid {
  display: grid;
margin-top: 100px;
  width: 1858px;
 
  margin-left: -209px;
 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 
  animation: moveRow  5s linear infinite;
}
@keyframes moveRow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5%);
  }
}
.reviews-grid2 {
  display: grid;
  margin-top: 90px;
  width: 1858px;
 
  margin-left: -84px;
  margin-top: 30px;
 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 
  animation: moveRow1  5s linear infinite;
}
@keyframes moveRow1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5%);
  }
}
 
.review-card {
  background: #383E48;
 
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 350px;
  height: 182px;  
}
 
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin-top: -7px;
  margin-left: 20px;
}
 
.reviewer-name {
  width: 177px;
  height: 24px;
  font-family: Metropolis;
font-weight: 700;
font-size: 22px;
line-height: 24px;
letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.7);
}
 
.review-rating {
  width: 50px;
height: 20px;
display: flex;
justify-content: space-between;
margin-right: 12px;
}
.rat-img{
  width: 18px;
  height: 18px;
  margin-left: -1px;
}
.rew-rating{
  font-family: Metropolis;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.6px;
color: rgba(255, 255, 255, 0.7);
width: 27px;
height: 18px;
 
}
.reviewer-info {
 
height: 16px;
  color: #FFFFFF;
  margin-left: 20px;
  font-family: Metropolis;
  letter-spacing: .7px;
  margin-top: -7px;
}
 
.review-text {
  width: 316px;
height: 90px;
font-family: Metropolis;
font-weight: 500;
font-size: 10px;
letter-spacing: .6px;
line-height: 15px;
 
color: rgba(255, 255, 255, 0.7);
margin-left: 20px;
margin-top: 20px;
 
}
@media (max-width:768px) {
  .reviews-container {
    width: 100%;
    height: 720px;
    background-color: #383E48;
    position: relative; /* Ensure absolute elements stay inside */
    overflow: hidden; /* Prevent overflow */
  }
   
  .heading2 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 38px;
    padding-top: 60px;
    text-align: center;
    color: #FFFFFF;
  }
   
  .fadevalaimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Adjust if needed */
    left: 0;
  }
   
  .rectanglefade, .rectanglefade2 {
    max-width: 500px;
    z-index: 1;
  }
   
  .reviews-grid {
    display: grid;
  margin-top: 100px;
    width: 1858px;
   
    margin-left: -209px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow  5s linear infinite;
  }
  @keyframes moveRow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-5%);
    }
  }
  .reviews-grid2 {
    display: grid;
    margin-top: 90px;
    width: 1858px;
   
    margin-left: -84px;
    margin-top: 30px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow1  5s linear infinite;
  }
  @keyframes moveRow1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(5%);
    }
  }
}
@media (max-width:425px) {
  .reviews-container {
    width: 100%;
    height: 770px;
    background-color: #383E48;
    position: relative; /* Ensure absolute elements stay inside */
    overflow: hidden; /* Prevent overflow */
  }
   
  .heading2 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 35px;
    padding-top: 60px;
    text-align: center;
    color: #FFFFFF;
  }
   
  .fadevalaimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Adjust if needed */
    left: 0;
  }
   
  .rectanglefade, .rectanglefade2 {
    max-width: 500px;
    z-index: -1;
  }
   
  .reviews-grid {
    display: grid;
  margin-top: 100px;
    width: 1858px;
   
    margin-left: -209px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow  5s linear infinite;
  }
  @keyframes moveRow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10%);
    }
  }
  .reviews-grid2 {
    display: grid;
    margin-top: 90px;
    width: 1858px;
   
    margin-left: -84px;
    margin-top: 30px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow1  5s linear infinite;
  }
  @keyframes moveRow1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(5%);
    }
  }
}
@media (max-width:375px) {
  .reviews-container {
    width: 100%;
    height: 770px;
    background-color: #383E48;
    position: relative; /* Ensure absolute elements stay inside */
    overflow: hidden; /* Prevent overflow */
  }
   
  .heading2 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 33px;
    padding-top: 60px;
    text-align: center;
    color: #FFFFFF;
  }
   
  .fadevalaimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Adjust if needed */
    left: 0;
  }
   
  .rectanglefade, .rectanglefade2 {
    max-width: 500px;
    z-index: -1;
  }
   
  .reviews-grid {
    display: grid;
  margin-top: 100px;
    width: 1858px;
   
    margin-left: -209px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow  5s linear infinite;
  }
  @keyframes moveRow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10%);
    }
  }
  .reviews-grid2 {
    display: grid;
    margin-top: 90px;
    width: 1858px;
   
    margin-left: -84px;
    margin-top: 30px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow1  5s linear infinite;
  }
  @keyframes moveRow1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(5%);
    }
  }
}
@media (max-width:320px) {
  .reviews-container {
    width: 100%;
    height: 770px;
    background-color: #383E48;
    position: relative; /* Ensure absolute elements stay inside */
    overflow: hidden; /* Prevent overflow */
  }
   
  .heading2 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 30px;
    padding-top: 60px;
    text-align: center;
    color: #FFFFFF;
  }
   
  .fadevalaimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0; /* Adjust if needed */
    left: 0;
  }
   
  .rectanglefade, .rectanglefade2 {
    max-width: 500px;
    z-index: -1;
  }
   
  .reviews-grid {
    display: grid;
  margin-top: 100px;
    width: 1858px;
   
    margin-left: -209px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow  5s linear infinite;
  }
  @keyframes moveRow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10%);
    }
  }
  .reviews-grid2 {
    display: grid;
    margin-top: 90px;
    width: 1858px;
   
    margin-left: -84px;
    margin-top: 30px;
   
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
    animation: moveRow1  5s linear infinite;
  }
  @keyframes moveRow1 {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(5%);
    }
  }
}