.who-is-it-for-container {
    text-align: center;
    background-color: #F2EFEA;
    
    padding: 40px 20px;
  
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .whoisit{
    display:flex;
    justify-content: space-between;
    /* width: 100%; */
    margin-top: 80px;
  }
  
  .whoisit2{
    
    width: 40%;
    font-family: Metropolis;
font-weight: 400;
font-size: 20px;
line-height: 36px;
letter-spacing: 0.6px;
color: #383E48;


  }
  .heading8 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    letter-spacing: 0.5px;
    text-align: center;
     color: #383E48;
     margin-top: 200px;
  }
  
  .subheading {
    font-family: Metropolis;
font-weight: 700;
font-style: italic;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.5px;
color: #383E48;
padding-left:80px;
text-align: left;
  }
  
  .description {
    text-align: left;
    
    padding-left:80px;
    font-size:18px;
    line-height: 29px;
    letter-spacing: .5px;
    color: #383E48;
    margin-top: 60px;
    

  }
  
  /* .highlight {
    font-weight: bold;
    color: #f97316;
    
  } */
  .highlight6{
    font-family: Metropolis;
font-weight: 700;
font-style: italic;
font-size: 20px;
line-height: 36px;
letter-spacing: 0%;

  }
  .tags-container1 {
     width: 50%;
    
    height: 280px;
    

  }
  .tags-container2{
  padding-right: 80px;
    height: 280px;
    
  }
  .tag {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .footer-text {
    font-family: Metropolis;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: .5px;
    text-align: center;
    color: #383E48;
    margin-top: 130px;
      margin-bottom: 70px;  
  }
@media (max-width:768px) {
  .who-is-it-for-container {
    text-align: center;
    background-color: #F2EFEA;
    
    padding: 40px 20px;
  
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .heading8 {
    font-family: Metropolis;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.5px;
    text-align: center;
     color: #383E48;
     margin-top: 180px;
  }
    .whoisit{
      display: flex;
      width: 100%;
    }
    .whoisit2{
      width: 50%;
      font-family: Metropolis;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #383E48;
    }
    .tags-container1 {
      width: 50%;
    
   }
   .tags-container2{
     height: 160px;
     padding-top: 30px;
   }
   .subheading {
    font-family: Metropolis;
font-weight: 600;
font-style: italic;
font-size: 16px;
line-height: 34px;
letter-spacing: 0.5px;
color: #383E48;
text-align: left;

  }
  
  .description {
    font-size:12px;
    line-height: 29px;
    letter-spacing: .5px;
    color: #383E48;
    margin-top: 40px;
    text-align: left;
   
  }
  
  /* .highlight {
    font-weight: bold;
    color: #f97316;
    
  } */
  .highlight6{
    font-family: Metropolis;
font-weight: 600;
font-style: italic;
font-size: 12px;
line-height: 29px;
letter-spacing: 0.5px;

  }
  .footer-text {
    font-family: Metropolis;
    font-weight: 600;
    font-style: italic;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0px;
    padding-right: 20px;
    color: #383E48;
    margin-top: 50px;
      margin-bottom: 60px;  
      text-align: center;
  }
  }
  @media (max-width:425px) {
    .who-is-it-for-container {
      text-align: center;
      background-color: #F2EFEA;
      
      padding: 40px 20px;
    
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .heading8 {
      font-family: Metropolis;
      font-weight: 700;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 32px;
      line-height: 47px;
      letter-spacing: 0.4px;
      text-align: center;
       color: #383E48;
       margin-top: 180px;
       padding-right: 20px;
    }
      .whoisit{
      display: contents;
        width: 100%;
      }
      .whoisit2{
        width: 100%;
        font-family: Metropolis;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #383E48;
      }
      .tags-container1 {
        width: 50%;
      
     }
     .tags-container2{
       height: 170px;
       padding-top: 30px;
     }
     .subheading {
      font-family: Metropolis;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: .6px;
  color: #383E48;
text-align: center;
  width: 100%;
  padding-left: 0px;
  
    }
    
    .description {
      font-size:12px;
      line-height: 24px;
      letter-spacing: .5px;

      color: #383E48;
      margin-top: 40px;
      padding:0px;
      text-align: center;
      margin-right: 50px;
      margin-left: 20px;
       
    }
    
    /* .highlight {
      font-weight: bold;
      color: #f97316;
      
    } */
    .highlight6{
      font-family: Metropolis;
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  
    }
    .footer-text {
      font-family: Metropolis;
      font-weight: 600;
      font-style: italic;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0px;
      padding-right: 20px;
      color: #383E48;
      margin-top: 50px;
        margin-bottom: 60px;  
        text-align: center;
    } 
  }
  @media (max-width:375px){
    .tags-container2{
      height: 150px;
      padding-top: 50px;
    }
    .heading8 {
      font-family: Metropolis;
      font-weight: 700;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 30px;
      line-height: 47px;
      letter-spacing: 0.4px;
      text-align: center;
       color: #383E48;
       margin-top: 150px;
       padding-right: 20px;
    }
      .whoisit{
      display: contents;
        width: 100%;
      }
      .whoisit2{
        width: 100%;
        font-family: Metropolis;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #383E48;
      }

      .subheading {
        font-family: Metropolis;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.5px;
    color: #383E48;
  padding-left: 0px;
  text-align: center;   
      }
      
      .description {
        font-size:12px;
        line-height: 24px;
        letter-spacing: .5px;
  
        color: #383E48;
        margin-top: 40px;
        padding:0px;
        text-align: center;
        margin-right: 50px;
        margin-left: 10px;
         
      }
      
      /* .highlight {
        font-weight: bold;
        color: #f97316;
        
      } */
      .highlight6{
        font-family: Metropolis;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
    
      }
      .footer-text {
        font-family: Metropolis;
        font-weight: 600;
        font-style: italic;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0px;
        padding-right: 20px;
        color: #383E48;
        margin-top: 50px;
          margin-bottom: 60px;  
          text-align: center;
      } 
  }
  @media (max-width:320px){
    .tags-container2{
      height: 135px;
      padding-top: 70px;
    }

    .heading8 {
      font-family: Metropolis;
      font-weight: 700;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 28px;
      line-height: 47px;
      letter-spacing: 0.4px;
      text-align: center;
       color: #383E48;
       margin-top: 150px;
       padding-right: 20px;
    }
      .whoisit{
      display: contents;
        width: 100%;
      }
      .whoisit2{
        width: 100%;
        font-family: Metropolis;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #383E48;
      }

      .subheading {
        font-family: Metropolis;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.5px;
    color: #383E48;
  padding-left: 0px;
  
  text-align: center;   
      }
      
      .description {
        font-size:12px;
        line-height: 24px;
        letter-spacing: .5px;
  
        color: #383E48;
        margin-top: 40px;
        padding:0px;
        text-align: center;
        margin-right: 50px;
        margin-left: 20px;
         
      }
      
      /* .highlight {
        font-weight: bold;
        color: #f97316;
        
      } */
      .highlight6{
        font-family: Metropolis;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
    
      }
      .footer-text {
        font-family: Metropolis;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0px;
        padding-right: 20px;
        color: #383E48;
        margin-top: 50px;
          margin-bottom: 40px;  
          text-align: center;
      } 
  }